html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li, dl, dt, dd, table, tr, th, td, a, img, strong, small, header, footer, main, nav, section, article {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP",sans-serif;
    text-decoration: none;
    color: inherit;
}