<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>QOLマスタアカウント</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="nofollow,noindex">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
    </head>
    <body>
        <header>
            <a href="">
                <p class="header"></p>
            </a>
        </header>
        <section>
            <img class="title_icon" src="../マスタアカウント/images/icon_tool.png" alt="機能アイコン">
            <p class="title_name">機能</p>
        </section>
        <div class="background">
            <div class="card">
                <a href="">
                    <img class="card_icon_calendar-plus" src="images/calendar-plus.png">
                    <p class="card_main">時間割り作成</p>
                    <p class="card_sub">期間を設定して<br>時間割を作成します。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_user-round" src="images/user-round-cog.png">
                    <p class="card_main">アカウント編集</p>
                    <p class="card_sub">アカウントの情報を確認、編集<br>することができます。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_shield-check" src="images/shield-check.png">
                    <p class="card_main">権限付与</p>
                    <p class="card_sub">通知事項を編集します。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_bell-dot" src="images/bell-dot.png">
                    <p class="card_main">通知事項編集</p>
                    <p class="card_sub">通知事項を編集します。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_clipboard-list" src="images/clipboard-list.png">
                    <p class="card_main">授業詳細編集</p>
                    <p class="card_sub">授業詳細を編集します。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_calendar-clock" src="images/calendar-clock.png">
                    <p class="card_main">時間割り閲覧</p>
                    <p class="card_sub">先4週間分を選択したコースごとに<br>閲覧します。</p>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <img class="card_icon_mails" src="images/mails.png">
                    <p class="card_main">送信先設定</p>
                    <p class="card_sub">期間を設定して<br>時間割を作成します。</p>
                </a>
            </div>
        </div>
        <section>
            <img class="title_icon" src="../マスタアカウント/images/icon_mail.png" alt="機能アイコン">
            <p class="title_name">メッセージ履歴</p>
        </section>
        <div class="background">
            
        </div>
    </body>
</html>