html, body,
h1, h2, h3, h4, h5, h6, p,
div, span,
ul, ol, li, dl, dt, dd,
table, tr, th, td,
a, img, strong, small,
header, footer, main, nav, section, article {
    margin: 0;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}
/* a要素は初期状態で下線を表示しないように追加 */
a {
    text-decoration: none;
}