* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f3f3f3;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    }
    
    a {
    text-decoration: none;
    color: inherit;
    }
    
    ul,
    ol {
    list-style: none;
    }