.app-header{
    /* 画面上部に固定 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 常に最前面に表示 */
    background-color: #C0DEFF;
    height: 70px;
    display: flex;
    justify-content: center; /* 既存のflex-endを維持 */
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-right: 20px;/* 右側に余白 */
    gap: 10px; /* Header1とuser_iconの距離10pxを維持 */
}

.app-header h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header-icon {
    width: 30px; /* アイコン画像の幅を24pxに設定 */
    height: 30px; /* アイコン画像の高さを24pxに設定 */
}

.user-avatar {
    width: 50px;           
    height: 50px;          
    border-radius: 50%;    
    overflow: hidden;     
    border: 2px solid #fff; 
    z-index: 1001;          
    cursor: pointer;       
}

/* アバター画像自体 */
.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像の縦横比を維持しつつコンテナを埋める */
}